*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font-stack); 
  color: var(--font-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: var(--header-font-stack);
  font-size: 60px; 
}

h2 { 
  font-family: var(--header-font-stack);
  font-size: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
} 

#error {
  padding: 3rem;
}

#form_group {
  border: 1px dotted var(--border-color); 
  background-color: var(--form-bg-color);
  padding: 1rem;
}

img {
  width: 40%;
}

input[type='text'], 
input[type='password'] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: var(--bg-color-input);
  position: relative;
}

input[type='text']:focus,
input[type='password']:focus {
  background-color: var(--bg-input-focus);
  outline: none;
}

select {
  padding: 0.5rem;
  margin-left: 1rem;
}

a:visited {
  color: var(--button-color);
}

button {
  background-color: var(--button-color);
  color: var(--form-bg-color);
  padding: 1rem 1.5rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
}

button:hover { 
  opacity: 1;
}


